:root {
    --fnt-400: 1rem;
    --fnt-500: 1.25rem;
    --fnt-600: 1.5rem;
}



/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    padding-left: 1rem;
    grid-row: span 2;
}

.title {
    display: flex;
    align-items: center;
}

.navigations {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

ul {
    list-style: none;
}

li > a {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/*  UTILITY CLASSES */

.small-img {
    height: 1.5rem;
}
.medium-img {
    height: 3rem;
}

.fnt-500 {
    font-size: var(--fnt-500);
}

.fnt-600 {
    font-size: var(--fnt-600);
}
.primary {
}

.container {
}
